@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root[data-theme="light"] {
  --font-family: 'Inter', sans-serif;
  --text: #071013;
  --background: #eef8fc;
  --primary: #3a84b6;
  --secondary: #88d9f4;
  --accent: #3ecbfa;
  --outline: #1847a0;
  --scrollbar-bg: #d4e4f0; 
  --scrollbar-thumb: #1847a0;
}

:root[data-theme="dark"] {
  --font-family: 'Inter', sans-serif;
  --text: #ecf5f8;
  --background: #030d11;
  --primary: #4994c5;
  --secondary: #0b5a75;
  --accent: #0593c2;
  --outline: #4994c5;
  --scrollbar-bg: #0a1926; 
  --scrollbar-thumb: #4994c5; 
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-family);
}

.chatList {
  background-color: var(--background);
  color: var(--text);
}

.chatDemonstrations, .linkedin-button {
  background-color: var(--primary);
  color: var(--text);
}

.userMessage {
  background-color: var(--primary);
  color: var(--text);
}
.botMessage {
  background-color: var(--background);
  color: var(--text);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

.toggleButton, button{
  background-color: var(--accent);
}

.chatList {
  background-color: var(--background);
  color: var(--text);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.chatList.hidden {
  transform: translateX(-100%);
}

.chatList.visible {
  transform: translateX(0);
}

@media (min-width: 600px) {
  .chatList {
    position: relative;
    transform: translateX(0) !important;
    width: auto;
    z-index: 1;
  }
}

.menu-button {
  background-color: var(--menu-button-bg);
  color: var(--menu-button-color);
}
